* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;  
    margin-bottom: 0;
    display: flex;
}
.search-bar {
margin-left: auto;
margin-right: auto;    
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.search-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    width: 90%;
}
.container {
    margin: auto;
    width: 500px;
    height: 60px;
}
.form {
    display: flex;
    flex-direction: row;
}
.search-bar {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: .01rem solid;
    border-color: rgb(223, 222, 222);
    border-radius: 100px;
    outline: none;
}
.search-button {
    background: transparent;
    border: transparent;
    border-color: rgb(230, 229, 229);
    margin-left: -33px;
    position: relative;
    left: -464px;
}
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    padding: 14px 16px;
}
.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-top {
    overflow: hidden;
}
.navbar-top a {
    float: left;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}